@model IEnumerable<Publicacion.EN.Producto>

@{
    ViewBag.Title = "VerProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            title: '¡Éxito!',
            text: '@TempData["SuccessMessage"]',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        });
    </script>
}

@* Botones canvas *@
<div class="col-6 p-2 justify-content-end">
    @* BTN Agregar producto *@
    <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> Agregar Producto</button>
</div>






<!---------------------------------------------------------------------------------------------------------------------------->
@* Canva agregar producto *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel"> Agregar productos</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card-body">
            <form action="@Url.Action("Guardar","Producto")" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre" required>
                </div>
                <br />
                <div class="form-group">
                    <label id="lblCategoriaSeleccionada" for="slIdCategoria" class="form-label"> Seleccionar categoria:</label>
                    @* BTN Agregar categoria *@
                   
                    <select id="slCategoria" name="IdCategoria" onchange="actualizarCategoriaSeleccionada()" class="form-select"></select>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripcion:</label>
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" required>
                </div>
                <div class="form-group">
                    <label for="PrecioCompra">Precio de Venta:</label>
                    <input type="text" class="form-control" id="PrecioCompra" name="Precio" required>
                </div>
                <div class="form-group">
                    <label for="Cantidad">Cantidad:</label>
                    <input type="text" class="form-control" id="Cantidad" name="Cantidad" required>
                </div>

                <div class="form-group">
                    <label for="Img">Img:</label>
                    <input type="file" class="form-control" id="Img" name="Img" onchange="previewImage(this)" required>
                </div>
                <div class="form-group">
                    <img id="preview" src="#" alt="Your image preview will appear here" style="display: none; width: 200px; height: 200px;">
                </div>
                <br />

                <div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>


            </form>
        </div>
    </div>
</div>
@* Fin Canva agregar producto *@

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
                $('#preview').show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
 
</script>




<!--Estilo CSS para el Producto-->
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .card {
        width: 23%;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        vertical-align: top;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>
<div class="card-container">
    @foreach (var item in Model)
    {
        string imageBase64 = Convert.ToBase64String(item.Img);
        string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
        <div class="card">
            <img class="card-img-top" src="@imageSrc" alt="Product image">
            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
                <p class="card-text">@item.Descripcion</p>
                <p class="card-text">
                    <small class="text-muted">Categoria : @item.NombreCategoria</small><br />
                    <small class="text-muted">Cantidad: @item.Cantidad</small><br />
                    <small class="text-muted">Precio de Venta: @item.Precio</small><br />
                    <br />
                    <a href="@Url.Action("EliminarProducto", new { id = item.Id })"class="btn btn-danger me-2">Eliminar</a>

                </p>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        function actualizarCategoriaSeleccionada() {
            var categoriaSeleccionada = $("#slCategoria option:selected").text();
            $("#lblCategoriaSeleccionada").text(categoriaSeleccionada);
        }
          function fnCargarListaCategorias() {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("ObtenerCategorias","Producto")',
                datatype: JSON,
                success: function (lista) {
                    $("#slCategoria, #slCategoriaB").append("<option value='0'> Selecciona una categoria</option>");
                    for (var i = 0; i < lista.length; i++) {
                        $("#slCategoria, #slCategoriaB").append("<option value='" + lista[i].Id + "'>" + lista[i].Nombre + "</option>");
                    }
                },
                error: function (error) {
                    alert("Error:" + error.statusText);
                }
            });
        }
        $("#btnBuscar").click(function () {
            fnBuscar();
             });
        function fnBuscar() {
           $.ajax({
           method: 'POST',
           url: '@Url.Action("Buscar","Producto")',
             data: $("#frmBuscar").serialize(),
             datatype: JSON,
                success: function (lista) {
                  var productsContainer = $(".products-container");
                  productsContainer.empty();
                   for (var i = 0; i < lista.length; i++) {
                      var imagen = "data:image/jpeg;base64," + btoa(String.fromCharCode.apply(null, new Uint8Array(lista[i].Img)));
                           var product = "\
                          <div class='product'>\
                         <img src='" + imagen + "' alt='Product " + (i + 1) + "'>\
                         <h3>" + lista[i].Nombre + "</h3>\
                         <p>Categoría: " + lista[i].Categoria.Nombre + "</p>\
                         <p>Descripción: " + lista[i].Descripcion + "</p>\
                         <p>Precio: $" + lista[i].Inventario.PrecioVenta + "</p>\
                         <p>Stock: " + lista[i].Inventario.Cantidad + "</p>\
                        </div>";
                             productsContainer.append(product);
                   }
               },
               error: function (error) {
                                   alert("Error:" + error.statusText);
               }
           });
        }
        $(document).ready(function () {
            fnCargarListaCategorias();

        });
    </script>
}